
body {
	margin: 0;
    background: lightgray;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
footer {
    align-self: flex-end;
    background-color: rgba(120, 120, 120,.5);
    text-align: center;
    line-height: 10;
}